/*-----ANIMATION-----*/
@-webkit-keyframes pressBtnEqually {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
            box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
  }
}
@keyframes pressBtnEqually {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
            box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
  }
}
@-webkit-keyframes notPressBtnEqually {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
            box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 0px 24px 2px rgba(247, 60, 87, 0.4);
            box-shadow: 0px 0px 24px 2px rgba(247, 60, 87, 0.4);
  }
}
@keyframes notPressBtnEqually {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
            box-shadow: 0 0 15px 8px rgba(247, 60, 87, 0.4);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 0px 24px 2px rgba(247, 60, 87, 0.4);
            box-shadow: 0px 0px 24px 2px rgba(247, 60, 87, 0.4);
  }
}
.animateBtnEqually {
  -webkit-animation: pressBtnEqually 0.5s forwards;
          animation: pressBtnEqually 0.5s forwards;
}

.animateNotBtnEqually {
  -webkit-animation: notPressBtnEqually 0.5s forwards;
          animation: notPressBtnEqually 0.5s forwards;
}

/*-----/ANIMATION-----*/
/*-----VARS-----*/
/*-----/VARS-----*/
/*-----BASE-----*/
body {
  font-family: "Arimo", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #1E1E1E;
}

.calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  width: 390px;
  margin: 0 auto;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 20px;
  background-color: #fff;
}

.none {
  display: none;
}

/*-----/BASE-----*/
/*-----MAIN BLOCKS-----*/
.block-display {
  overflow: hidden;
  padding: 70px 40px 30px;
  text-align: right;
}
.block-display span {
  font-size: 48px;
  font-weight: 700;
}

.block-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px 40px;
  background-color: #F5F5F5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container--dark {
  background-color: #212327;
}

.block-buttons--dark {
  background-color: #27292E;
}

.block-display--dark {
  color: #fff;
}

.body-dark {
  color: #fff;
}

/*-----/MAIN BLOCKS-----*/
/*-----COLUMNS-----*/
.block-buttons_column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 16px;
}

.block-buttons_column--first {
  margin-right: 16px;
}

.block-buttons_column--second {
  margin-right: 16px;
}

.block-buttons_column--third {
  margin-right: 16px;
}

.block-buttons_column--fourth {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 2fr;
}

/*-----/COLUMNS-----*/
/*-----BUTTONS STYLE-----*/
.btn--common {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn--theme {
  border: 2px solid rgba(214, 214, 214, 0.4666666667);
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn--dark {
  position: relative;
}
.btn--dark svg {
  position: absolute;
  top: 34%;
  left: 34%;
}

.btn--light {
  position: relative;
}
.btn--light svg {
  position: absolute;
  top: 27%;
  left: 30%;
}

.btn--clear {
  color: #ED0E98;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn--operation {
  position: relative;
  background-color: rgba(214, 214, 214, 0.4666666667);
}

.btn--plus {
  position: relative;
}
.btn--plus svg {
  position: absolute;
  top: 35%;
  left: 35%;
}

.btn--minus {
  position: relative;
}
.btn--minus svg {
  position: absolute;
  top: 50%;
  left: 35%;
}

/*-----/BUTTONS STYLE-----*/